@{
    ViewData["Title"] = "Perfil";
}
<div class="datosPersonales">
    <h1>Usuario: @Context.Session.GetString("usuarioNombre")</h1>

</div>
<div class="tareas">
    <h1>Tareas:</h1>
        @foreach (var tarea in ViewBag.tareas)
        {
            <h2>@ViewBag.Nombretarea</h2>
        }
    else
    {
        <h2>No hay tareas que haya hecho @Context.Session.GetString("usuarioNombre")</h2>

    }
</div>
<div class="cerrarSesion">
    <button class="btn" type="button" onclick="location.href='@Url.Action("CerrarSesion")'">
        Cerrar Sesión
    </button>
</div>